**/node_modules
**/dist
**/es
**/esm
**/cjs
**/@types
**/coverage
**/__tests__
**/*.test.ts
**/*.test.tsx
**/*.perf.test.ts
**/*.spec.ts
**/*.example.tsx
**/*.d.ts
solidjs
e2e
playwright.config.ts
packages/example
