/* .grid-table-border [role='row'] > * {
  border-left-width: 0;
} */

.grid-table-cell {
  font-weight: normal;
}

.thead-cell {
  color: var(--sheet-table-header-color, var(--ux-heading-color, rgba(0, 0, 0, 0.85)));
  background-color: var(--sheet-table-header-bg, #f5f5f5);
  font-weight: bold;
}

[role='table'] {
  font-size: 14px;
  /* border-right-width: 0;
  border-right: var(--ux-border-width-base, 1px) var(--ux-border-style-base, solid)
    var(--ux-border-color-split, #f0f0f0); */
  color: var(--text-color, rgba(0, 0, 0, 0.65));
}
